<template>
<div>
     <ul class="flex flex-wrap justify-center">
            <li class="border border-gray-500 px-1 py-3 mb-3 mr-4"
            :class="verificarClaseActiva(skill)"
            v-for="(skill, i) in this.skills" 
            v-bind:key="i" @click="activar($event)">{{skill}}</li>
    </ul>

    <input type="hidden" name="skills" id="skills">
</div>
   
</template>

<script>
    export default {
        props: ['skills', 'oldskills'],
        mounted() {
            console.log(this.skills);
        },
        /// Contenedor de las habilidades set es muy similiar a un arreglo peo no puedes tener elem. repetidos
        data: function() {
            return {
                habilidades:new Set()
            }
        },
        // Resaltar los que ya se tenian (2)
        created: function() {
            // verificar si existe un oldskills
            if(this.oldskills) {
                // String separados por coma para agregar al data de habilidades
                const skillsArray = this.oldskills.split(',');
                // console.log(skillsArray)
                // Iterar en el arreglo
                skillsArray.forEach(skill => this.habilidades.add(skill));
            }
        },
        mounted: function() {
            console.log(this.oldskills);
            // Agregar skills en el value (1)
            document.querySelector('#skills').value = this.oldskills;
        },
        methods: {
            activar(e){
                console.log('diste click', e.target.textContent);
                // Agregar color cuando dan click
                if(e.target.classList.contains('bg-teal-400'))
                {
                    // El skill esa activo
                    e.target.classList.remove('bg-teal-400');
                    // Eliminar el set de hablidades
                    this.habilidades.delete(e.target.textContent);
                }else {
                    e.target.classList.add('bg-teal-400');
                    // Agregar al seet de habilidades
                    this.habilidades.add(e.target.textContent);
                }
                // Agregar las habilidades al input hidden
                // Debido a ue no se puede pasar el set directamente al input, ha de pasar un string
                const stringHabilidades = [...this.habilidades]
                document.querySelector('#skills').value = stringHabilidades;
            },

            // Agregar color a las que se activaron previo  a subir el form , y de errores
            verificarClaseActiva(skill) {
                
                return this.habilidades.has(skill) ? 'bg-teal-400' : '';
            }
        },
    }
</script>